vendor/
node_modules/
bower_components/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

nginx-log/
public/bootstrap
public/jquery
public/themes
public/bootstrap-3-typeahead
public/mix-manifest.json
public/css
public/js

.idea/*
_ide_helper.php

