.navbar {
    margin-bottom: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
        position: relative;
        top: auto;
    }
}

/* For screens < 768px wide - basically mobile devices */
@media screen and (max-width: 768px) {
}

/* For screens > 992px - tablets */
@media screen and (min-width: 992px) {
}

/* For screens > 1200px - computers */
@media screen and (min-width: 1200px) {

    input.advanced-search-box {
        max-width: 33%;
    }
}

.thumbnail {
    margin-bottom: 0;
}
