/* ------- Global ------- */
.navbar {
    margin-bottom: 0;
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
        position: relative;
        top: auto;
    }
}

/* For screens < 768px wide - basically mobile devices */
@media screen and (max-width: 768px) {
}

/* For screens > 992px - tablets */
@media screen and (min-width: 992px) {
}

/* For screens > 1200px - computers */
@media screen and (min-width: 1200px) {

    input.advanced-search-box {
        max-width: 33%;
    }
}

/* ------- manga/index.blade.php ------- */

.thumbnail {
    margin-bottom: 0;
}

.thumbnail h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail img {
    max-height: 250px;
    width: auto;
    height: auto;
    display: block;
}

div.thumbnail > div {
    height: 250px;
}

/* ------- manga/information.blade.php ----- */

.set-cover {
    height: 310px;
    max-width: 100%;
}

.set-cover img {
    max-height: 250px;
    max-width: 100%;
    display: block;
}

.information-img {
    max-width: 100%;
    max-height: 500px;
    display: block;
}

.thumbnail h4 {
    /* Shorten long names with ellipses */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------- manga/reader.blade.php ------- */

.dropdown-menu {
    max-height: 350px;
    overflow: hidden;
    overflow-y: auto;
}

img.reader-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

/* ------- admin/libraries.blade.php ------- */

