.card > .card-body .card-overlay-bottom {
  position: relative;
  top: -4em;
  height: 4em;
  margin-bottom: -4em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAADUlEQVQI12NgYGDYDwAAxADAwDGXeQAAAABJRU5ErkJggg==');
}
