.side-top-menu {
  @include media-breakpoint-down(sm) {
    & > .list-group {
      // TODO: Make the horizontal menu prettier
    }
  }
}


.custom-control.custom-checkbox {
  & > .custom-control-input[data-active="no"]:checked ~ .custom-control-label {
    &::before {
      background-color: $success;
    }
  }

  & > .custom-control-input[data-active="yes"]:not(:checked) ~ .custom-control-label {
    &::before {
      background-color: $danger;

      // It looks, by default, Bootstrap uses open-iconic https://getbootstrap.com/docs/4.1/components/forms/#checkboxes-and-radios-1
      // SVG path taken from https://github.com/iconic/open-iconic/blob/master/svg/x.svg?short_path=fc7251c
      // I basically just replaced the path and played around with the viewBox until it looked good. :shrug:
      background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 16 16'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M1.41 0l-1.41 1.41.72.72 1.78 1.81-1.78 1.78-.72.69 1.41 1.44.72-.72 1.81-1.81 1.78 1.81.69.72 1.44-1.44-.72-.69-1.81-1.78 1.81-1.81.72-.72-1.44-1.41-.69.72-1.78 1.78-1.81-1.78-.72-.72z'/%3E%3C/svg%3E"), "#", "%23")
    }
  }
}
