$fa-font-path: "fonts/";

// Lazy dark theme.

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$dark: #343641;
$primary: #50b8d2;

$body-bg: #3d3f4c;
$body-color: $gray-500;//#a1a7b3;

$border-color: lighten($dark, 10%);

$card-bg: $body-bg;
$card-cap-bg: lighten($dark, 8%);

$dropdown-bg: $dark;
$dropdown-link-color: $gray-500;

$input-bg: $dark;
$input-color: $gray-500;
$input-group-addon-color: $gray-900;
$input-border-color: $border-color;

$input-group-addon-bg: $gray-400;
$input-group-addon-border-color: $gray-400;

$list-group-bg: $dark;

$table-border-color: $border-color;

$pagination-bg: lighten($dark, 8%);
$pagination-border-color: $dark;
$pagination-active-bg: $primary;
$pagination-active-border-color: $dark;
$pagination-disabled-border-color: $dark;
$pagination-disabled-bg: $gray-400;
$pagination-hover-border-color: $dark;
