// Fonts
//@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

span.fa::before {
  font-weight: 900;
}

.w-33 {
  width: 33% !important;
}

.w-66 {
  width: 66% !important;
}

textarea {
  max-width: 100%;
  max-height: 100%;
}

.dropdown-menu > .dropdown-header {
  font-size: inherit;
}

.dropdown-menu > .dropdown-header > li.disabled {
  cursor: text;
}

.dropdown-menu > .dropdown-header > li.disabled > a {
  pointer-events: none;
}

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// make container behave as container-fluid for xs and sm
.container {
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

// Mangapie
@import "admin.libraries";
@import "files";
@import "manga";
@import "manga.edit";
@import "notifications";
@import "reader";
@import "previews";
@import "shapes";
@import "addon";

// jquery-bar-rating
@import "jquery-bar-rating/fontawesome-stars";
