.irs-min, .irs-max { color: $secondary !important; }
.irs-single { background-color: $primary !important; }
.irs-single:before { border-top-color: $primary !important; }
.irs-bar { background-color: $primary !important; }
.irs-handle { border-color: $primary !important; }
